Q.No-01    What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

Ans :-

**Ordinal encoding** and **label encoding** are both techniques used in machine learning and data preprocessing to convert categorical data into numerical form so that machine learning algorithms can work with them. However, they are used in different scenarios and have distinct characteristics.

1. **`Label Encoding` :-**

   Label encoding is a simple technique where each unique category in a categorical variable is assigned an integer value. The assignment of these integer values is arbitrary and does not imply any inherent order or ranking of the categories. 
   
   **For example :**

   - Category "Red" might be encoded as 0.

   - Category "Green" might be encoded as 1.
   
   - Category "Blue" might be encoded as 2.

   Label encoding is typically used when there is no ordinal relationship between the categories. In other words, when the categories do not have a meaningful or logical order. For instance, when encoding categorical variables like "Gender" (e.g., Male, Female), "Country" (e.g., USA, Canada, India), or "Vehicle Type" (e.g., Sedan, SUV, Truck), label encoding can be used.

In [218]:
# Import necessary libraries
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Sample data
data = {'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']}

# Create a DataFrame
Q_No_01_df1 = pd.DataFrame(data)
print("Original Data :-")
display(Q_No_01_df1)


# Label Encoding
label_encoder = LabelEncoder()
Q_No_01_df1['ColorEncoded'] = label_encoder.fit_transform(Q_No_01_df1['Color'])

# Display the DataFrame with label encoding
print("Label Encoding :-")
display(Q_No_01_df1)

Original Data :-

   Color
0    Red
1  Green
2   Blue
3    Red
4  Green

Label Encoding :-

   Color  ColorEncoded
0    Red             2
1  Green             1
2   Blue             0
3    Red             2
4  Green             1

2. **`Ordinal Encoding` :-**

   Ordinal encoding is used when there is a clear ordinal or meaningful ranking relationship among the categories. In this approach, you assign numerical values to the categories based on their order or hierarchy.
   
   For example:

   - Low might be encoded as 1.

   - Medium might be encoded as 2.
   
   - High might be encoded as 3.

   Ordinal encoding is suitable for categorical variables with inherent order or hierarchy, such as "Education Level" (e.g., High School, Bachelor's, Master's, Ph.D.), "Temperature" (e.g., Cold, Warm, Hot), or "Income Level" (e.g., Low, Medium, High).

In [219]:
# Import necessary libraries
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

# Sample data
data = {'Education Level': ['High School', 'Bachelor\'s', 'Master\'s', 'Ph.D.']}

# Create a DataFrame
Q_No_01_df2 = pd.DataFrame(data)
print('Original Dataframe :-')  # Print the original dataframe
display(Q_No_01_df2)

# Define the ordinal mapping (order of education levels)
ordinal_mapping = {
    'High School': 1,
    'Bachelor\'s': 2,
    'Master\'s': 3,
    'Ph.D.': 4
}

# Create an instance of OrdinalEncoder with the specified mapping
ordinal_encoder = OrdinalEncoder(categories=[sorted(ordinal_mapping, key=lambda x: ordinal_mapping[x])])

# Fit and transform the data using the ordinal encoder
Q_No_01_df2['OrdinalEncoded'] = ordinal_encoder.fit_transform(Q_No_01_df2[['Education Level']])

# Display the DataFrame with ordinal encoding
print("Ordinal Encoding:")
display(Q_No_01_df2)

Original Dataframe :-

  Education Level
0     High School
1      Bachelor's
2        Master's
3           Ph.D.

Ordinal Encoding:

  Education Level  OrdinalEncoded
0     High School             0.0
1      Bachelor's             1.0
2        Master's             2.0
3           Ph.D.             3.0

**`Example of When to Choose One Over the Other` :-**

- Imagine you are working on a machine learning project involving customer feedback ratings for a product, where customers can rate the product as "Poor," "Average," "Good," or "Excellent." In this case:

    - **Label Encoding -** If you use label encoding for this ordinal variable, the model might interpret "Poor" as 0, "Average" as 1, "Good" as 2, and "Excellent" as 3. However, label encoding doesn't capture the meaningful order between the categories accurately.

    - **Ordinal Encoding -** Ordinal encoding is a better choice in this scenario because it preserves the ordinal relationship between the ratings. You can assign values like "Poor" = 1, "Average" = 2, "Good" = 3, and "Excellent" = 4, which reflects the increasing quality of ratings.

In [220]:
# Import necessary libraries
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Sample data
data = {'Feedback': ['Poor', 'Average', 'Good', 'Excellent']}

# Create a DataFrame
Q_No_01_df3 = pd.DataFrame(data)
print("Original Data :-")
display(Q_No_01_df3)

# Label Encoding
label_encoder = LabelEncoder()
Q_No_01_df3['LabelEncoded'] = label_encoder.fit_transform(Q_No_01_df3['Feedback'])


# Ordinal Encoding
ordinal_mapping = {
    'Poor': 1,
    'Average': 2,
    'Good': 3,
    'Excellent': 4
}
Q_No_01_df3['OrdinalEncoded'] = Q_No_01_df3['Feedback'].map(ordinal_mapping)


print("\tLabel Encoding & Ordinal Encoding")
display(Q_No_01_df3)

Original Data :-

    Feedback
0       Poor
1    Average
2       Good
3  Excellent

	Label Encoding & Ordinal Encoding

    Feedback  LabelEncoded  OrdinalEncoded
0       Poor             3               1
1    Average             0               2
2       Good             2               3
3  Excellent             1               4

`In summary`, the choice between label encoding and ordinal encoding depends on whether there is an inherent order or ranking among the categories of the variable we are encoding. Use label encoding for nominal variables (no order), and use ordinal encoding for ordinal variables (with a clear order).

---------------------------------------------------------------------------------------------------------------------------

Q.No-02    Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Ans :-

**`Target Guided Ordinal Encoding` (TGOE)** is a feature encoding technique used in machine learning to convert categorical variables into numerical values, particularly in classification tasks. It is designed to capture the relationship between the categorical feature and the target variable by assigning ordinal values to the categories based on their statistical significance in predicting the target variable. TGOE is especially useful when dealing with categorical features with a large number of categories and when you believe there is an ordered relationship between the categories and the target variable.

**`Here's an example of when we might use TGOE in a machine learning project (In Python)` :-**

**Scenario**: You are working on a customer churn prediction problem for a telecommunications company. One of the features in your dataset is "Contract Type," which indicates whether a customer has a month-to-month contract, a one-year contract, or a two-year contract. You believe that the contract type is related to the likelihood of churn, with longer-term contracts being less likely to churn.

In [221]:
import pandas as pd

# Sample data
data = {
    'CustomerID': [1, 2, 3, 4, 5],
    'Contract_Type': ['Month-to-month', 'One-year', 'Month-to-month', 'Two-year', 'One-year'],
    'Churn': [1, 0, 1, 0, 0]  # 1 for churn, 0 for no churn
}

# Create a DataFrame
Q_No_02_df = pd.DataFrame(data)
print('Original Dataframe :-')
display(Q_No_02_df)

# Calculate the average churn rate for each contract type
contract_churn_means = Q_No_02_df.groupby('Contract_Type')['Churn'].mean().reset_index()

# Rank the contract types based on churn rate in ascending order
contract_churn_means['Rank'] = contract_churn_means['Churn'].rank(ascending=True)

# Create a mapping dictionary for encoding
ordinal_encoding_dict = dict(zip(contract_churn_means['Contract_Type'], contract_churn_means['Rank']))

# Apply the encoding to the DataFrame
Q_No_02_df['Contract_Type_Encoded'] = Q_No_02_df['Contract_Type'].map(ordinal_encoding_dict)

# Display the DataFrame with encoded Contract_Type
print('\nDataFrame with encoded Contract_Type :-')
display(Q_No_02_df)

Original Dataframe :-

   CustomerID   Contract_Type  Churn
0           1  Month-to-month      1
1           2        One-year      0
2           3  Month-to-month      1
3           4        Two-year      0
4           5        One-year      0

DataFrame with encoded Contract_Type :-

   CustomerID   Contract_Type  Churn  Contract_Type_Encoded
0           1  Month-to-month      1                    3.0
1           2        One-year      0                    1.5
2           3  Month-to-month      1                    3.0
3           4        Two-year      0                    1.5
4           5        One-year      0                    1.5

Now, the "Contract Type" feature has been encoded using Target Guided Ordinal Encoding, capturing the relationship between contract type and churn probability. This can help our machine learning model learn the ordinality in contract types and potentially improve its predictive performance in the customer churn prediction task.

------------------------------------------------------------------------------------------------------------------------------------------------

Q.No-03    Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Ans :-

Covariance is a statistical measure that quantifies the degree to which two random variables change together. In other words, it measures the relationship between two variables, indicating whether they tend to increase or decrease simultaneously.

**`It's a crucial concept in statistical analysis and data science for several reasons` :-**

1. **Relationship Assessment:** Covariance helps us understand the direction of the relationship between two variables. A positive covariance indicates that as one variable increases, the other tends to increase as well, while a negative covariance suggests that as one variable increases, the other tends to decrease.

2. **Strength of Association:** The magnitude of the covariance value signifies the strength of the relationship. A large covariance, either positive or negative, indicates a strong association, while a small or close-to-zero covariance suggests a weak or no association.

3. **Useful in Portfolio Management:** In finance, covariance is essential for managing investment portfolios. It helps investors assess how the returns of different assets move in relation to each other, aiding in the diversification of investments to reduce risk.

4. **Risk Assessment:** In risk analysis, covariance is used to assess how changes in one variable (e.g., interest rates) might affect another variable (e.g., stock prices). It's crucial for understanding and managing various types of risks.

**Covariance is calculated using the following formula :-**

$$
\text{Cov}(X, Y) = \frac{\sum_{i=1}^{n}(X_i - \bar{X})(Y_i - \bar{Y})}{n-1}
$$

**Where :-**

- $\text{Cov}(X, Y)$ is the covariance between variables X and Y.

- $X_i$ and $Y_i$ are individual data points for X and Y, respectively.

- $\bar{X}$ and $\bar{Y}$ are the means (average) of X and Y, respectively.

- $n$ is the number of data points in the dataset.

**Here's a step-by-step explanation of the calculation :-**

1. Calculate the mean ($\bar{X}$) of variable X and the mean ($\bar{Y}$) of variable Y.

2. For each data point, subtract the mean of $X$ from the data point ($X_i - \bar{X}$) and subtract the mean of $Y$ from the corresponding data point ($Y_i - \bar{Y}$).

3. Multiply these differences for each pair of data points.

4. Sum up all these products.

5. Finally, divide the sum by $n-1$ (n minus 1), which is known as Bessel's correction. This correction factor is used to make the covariance estimator unbiased when dealing with a sample of data rather than an entire population.

The result will be the covariance between the two variables. The sign of the covariance indicates the direction of the relationship (positive or negative), and the magnitude represents the strength of the relationship.

---------------------------------------------------------------------------------------------------------------------------

Q.No-04    For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

Ans :-

In [222]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd 

# Sample data for the categorical variables
Categorical_Variables = {'colors': ['red', 'green', 'blue', 'green', 'red'],
                         'sizes': ['medium', 'small', 'large', 'medium', 'small'],
                         'materials': ['wood', 'metal', 'plastic', 'metal', 'wood']
                         }

Q_No_04_df = pd.DataFrame(Categorical_Variables)  # Create a dataframe with sample values of Categorical Variables
print("Data Frame of Categorical Variables :-")
display(Q_No_04_df)


# Initialize label encoders for each categorical variable
color_encoder = LabelEncoder()
size_encoder = LabelEncoder()
material_encoder = LabelEncoder()

Q_No_04_df['encoded_colors'] = color_encoder.fit_transform(Q_No_04_df['colors'])
Q_No_04_df['encoded_sizes'] = size_encoder.fit_transform(Q_No_04_df['sizes'])
Q_No_04_df['encoded_materials'] = material_encoder.fit_transform(Q_No_04_df['materials'])


print("Data Frame of Categorical Variables After Applying Label Encoder :-")
display(Q_No_04_df)

Data Frame of Categorical Variables :-

  colors   sizes materials
0    red  medium      wood
1  green   small     metal
2   blue   large   plastic
3  green  medium     metal
4    red   small      wood

Data Frame of Categorical Variables After Applying Label Encoder :-

  colors   sizes materials  encoded_colors  encoded_sizes  encoded_materials
0    red  medium      wood               2              1                  2
1  green   small     metal               1              2                  0
2   blue   large   plastic               0              0                  1
3  green  medium     metal               1              1                  0
4    red   small      wood               2              2                  2

---------------------------------------------------------------------------------------------------------------------------

Q.No-05    Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

Ans :-

**To calculate the covariance matrix for the variables `Age`, `Income`, and `Education level` in a dataset and interpret the results, we can use Python and libraries like NumPy and Pandas.**

In [223]:
import numpy as np
import pandas as pd

# Create a sample dataset
data = {
    'Age': [30, 35, 28, 40, 25],
    'Income': [50000, 60000, 45000, 75000, 40000],
    'Education': [12, 16, 10, 18, 14]
}

# Create a DataFrame from the dataset
df = pd.DataFrame(data)

# Calculate the covariance matrix
cov_matrix = df.cov()

# Print the covariance matrix
print("Covariance Matrix:")
display(cov_matrix)

Covariance Matrix:

               Age       Income  Education
Age           35.3      82000.0       14.5
Income     82000.0  192500000.0    35000.0
Education     14.5      35000.0       10.0

**Interpretion of the results :-**

-    **`Diagonal Elements` :** The diagonal elements of the covariance matrix represent the variance of each variable. In this case, the diagonal elements represent the variance of Age, Income, and Education level.

-    **`Off-Diagonal Elements` :** The off-diagonal elements represent the covariances between pairs of variables. Positive values indicate a positive relationship (when one variable increases, the other tends to increase as well), while negative values indicate a negative relationship (when one variable increases, the other tends to decrease).

Interpretation of specific values in the covariance matrix will depend on the actual data and context. If you provide the actual dataset, I can help with a more detailed interpretation.

---------------------------------------------------------------------------------------------------------------------------

Q.No-06    You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

Ans :-

When working with categorical variables in a machine learning project, we typically need to convert them into numerical representations that can be used by machine learning algorithms. There are several encoding methods available, and the choice of method depends on the nature of the data and the machine learning algorithm we plan to use.

**`Here's how we might encode each of the categorical variables you mentioned` :-**

In [224]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Sample data
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female'],
    'Education Level': ['High School', "Bachelor's", "Master's", 'PhD'],
    'Employment Status': ['Unemployed', 'Part-Time', 'Full-Time', 'Part-Time']
}
# Create a DataFrame
Q_No_06_df = pd.DataFrame(data)

display(Q_No_06_df)

   Gender Education Level Employment Status
0    Male     High School        Unemployed
1  Female      Bachelor's         Part-Time
2    Male        Master's         Full-Time
3  Female             PhD         Part-Time

1. **Gender (Binary Encoding):** Gender is a binary categorical variable (Male/Female), and binary encoding is a suitable method for such variables. We can represent it as 1 for Male and 0 for Female. This method is efficient and easy to interpret, and it works well with algorithms like logistic regression, decision trees, and random forests.

   - Male: 1
   
   - Female: 0

In [225]:
# Encoding Gender using LabelEncoder (Binary Encoding)
label_encoder = LabelEncoder()
Q_No_06_Gender_df = pd.DataFrame({
    "Gender LabelEncoder" : (label_encoder.fit_transform(Q_No_06_df['Gender']).tolist())
    })

# Concatenate the original 'Gender' column and the encoded 'Gender' column
Gender_result_df = pd.concat([Q_No_06_df['Gender'], Q_No_06_Gender_df], axis=1)

print("Gender Label Encoder:")
display(Gender_result_df)

Gender Label Encoder:

   Gender  Gender LabelEncoder
0    Male                    1
1  Female                    0
2    Male                    1
3  Female                    0

2. **Education Level (One-Hot Encoding):** Education Level is an ordinal categorical variable with multiple categories (High School, Bachelor's, Master's, PhD), and one-hot encoding is a common choice for such variables. Each category is transformed into a binary column, and a 1 is placed in the column corresponding to the education level of the individual, while all other columns get a 0. This approach allows the algorithm to treat each category independently.

   - High School: [1, 0, 0, 0]

   - Bachelor's: [0, 1, 0, 0]
   
   - Master's: [0, 0, 1, 0]
   
   - PhD: [0, 0, 0, 1]

In [226]:
# Encoding Education Level using One-Hot Encoding
education_encoded = pd.get_dummies(Q_No_06_df['Education Level'], prefix='Education')

# Concatenate the original DataFrame and the one-hot encoded DataFrame
Q_No_06_df_encoded = pd.concat([Q_No_06_df['Education Level'], education_encoded], axis=1)

# Replace True with 1 and False with 0
Q_No_06_df_encoded = Q_No_06_df_encoded.replace({True: 1, False: 0})

# Get the column you want to move
bachelors_col = Q_No_06_df_encoded.pop("Education_Bachelor's")

# Insert the column at the desired position (3rd column)
Q_No_06_df_encoded.insert(2, "Education_Bachelor's", bachelors_col)

print("Encoded DataFrame with One-Hot Encoding for Education Level:")
display(Q_No_06_df_encoded)

Encoded DataFrame with One-Hot Encoding for Education Level:

,Education Level,Education_High School,Education_Bachelor's,Education_Master's,Education_PhD
0,High School,1,0,0,0
1,Bachelor's,0,1,0,0
2,Master's,0,0,1,0
3,PhD,0,0,0,1

3. **Employment Status (Label Encoding or Ordinal Encoding):** Employment Status is an ordinal categorical variable (Unemployed, Part-Time, Full-Time). Ordinal encoding, which assigns a unique integer to each category based on its order or importance, can be used for this variable. The order of encoding should reflect the logical order of the categories.

   - Unemployed: 0

   - Part-Time: 1
   
   - Full-Time: 2

In [227]:
# Encoding Employment Status using LabelEncoder (Ordinal Encoding)
ordinal_mapping = {
    'Unemployed': 0,
    'Part-Time': 1,
    'Full-Time': 2
    }

Q_No_06_Employment_Status_df = pd.DataFrame({
    "Employment Status" : (Q_No_06_df['Employment Status'].map(ordinal_mapping))
})

# Concatenate the original 'Gender' column and the encoded 'Gender' column
Employment_Status_result_df = pd.concat([Q_No_06_df['Employment Status'], Q_No_06_Employment_Status_df], axis=1)

print("Employment Status Label Encoder (Ordinal Encoding) :-")
display(Employment_Status_result_df)

Employment Status Label Encoder (Ordinal Encoding) :-

   Employment Status  Employment Status
0         Unemployed                  0
1          Part-Time                  1
2          Full-Time                  2
3          Part-Time                  1

**It's important to choose the encoding method carefully based on the characteristics of your data and the machine learning model you plan to use.**

**`For example` :-**

- If you use one-hot encoding for Gender or Education Level, it can lead to increased dimensionality, which may be a concern if you have many categories or limited data.

- If you use label encoding for Education Level, you assume a meaningful order between the categories, which may not always be the case (e.g., Master's vs. PhD).

- Ensure that the encoding method aligns with the assumptions of the machine learning algorithm you plan to use. Some algorithms may require specific encoding methods or preprocessing steps.

---------------------------------------------------------------------------------------------------------------------------

Q.No-07    You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.

Ans :-

**To calculate `the covariance between pairs of variables`, we can use the following formula :-**

$$Cov(X, Y) = \frac{ [(Xi - X) * (Yi - )]}{(n - 1)}$$

**Where :-**

- $Cov(X, Y)$ is the covariance between variables $X$ and $Y$.

- $Xi$ and $Yi$ are individual data points from the datasets of $X$ and $Y$.

- $X$ and $$ are the means of $X$ and $Y$, respectively.

- $n$ is the number of data points.

In [228]:
import numpy as np
import pandas as pd

# Sample data (replace this with your actual dataset)
data = {
    'Temperature': [25, 30, 22, 28, 32],
    'Humidity': [60, 55, 70, 45, 50],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Rainy'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'North']
}

# Create a DataFrame
Q_No_07_df = pd.DataFrame(data)


# Since "Weather Condition" is a categorical variable, we need to convert it to a numerical format
weather_mapping = {'Sunny': 0, 'Cloudy': 1, 'Rainy': 2}
Q_No_07_df['Weather Condition (Label Encoding)'] = Q_No_07_df['Weather Condition'].map(weather_mapping)

# Similarly, you'll need to convert "Wind Direction" to a numerical format
wind_mapping = {'North': 0, 'South': 1, 'East': 2, 'West': 3}
Q_No_07_df['Wind Direction (Label Encoding)'] = Q_No_07_df['Wind Direction'].map(wind_mapping)

display(Q_No_07_df)

,Temperature,Humidity,Weather Condition,Wind Direction,Weather Condition (Label Encoding),Wind Direction (Label Encoding)
0,25,60,Sunny,North,0,0
1,30,55,Cloudy,South,1,1
2,22,70,Rainy,East,2,2
3,28,45,Sunny,West,0,3
4,32,50,Rainy,North,2,0

**`Let's calculate the covariances between the variables` :-**

1. **Covariance between "`Temperature`" and "`Humidity`" :**

In [229]:
# Calculate the covariance between "Temperature" and "Humidity"
cov_temp_humidity = Q_No_07_df['Temperature'].cov(Q_No_07_df['Humidity'])
print(f"Covariance between Temperature and Humidity: {cov_temp_humidity:.2f}")

Covariance between Temperature and Humidity: -30.50

**`Based on the calculate covariance values and the principles of interpreting covariances`,**

   - **here's a Interpretation of the results -**

      - The negative covariance suggests that as temperature tends to increase, humidity tends to decrease, and vice versa.
   
      - The magnitude of -30.50 indicates a relatively strong linear relationship between temperature and humidity. However, it's important to remember that this value is sensitive to the scales of the variables.

2. **Covariance between "`Temperature`" and "`Weather Condition`" :**

In [230]:
# Calculate the covariance between "Temperature" and "Weather Condition"
cov_temp_weather = Q_No_07_df['Temperature'].cov(Q_No_07_df['Weather Condition (Label Encoding)'])
print("Covariance between Temperature and Weather Condition:", cov_temp_weather)

Covariance between Temperature and Weather Condition: 0.25

**`Based on the calculate covariance values and the principles of interpreting covariances`,**

   - **here's a Interpretation of the results -**

      - The positive covariance indicates that there is a tendency for temperature and weather condition to increase together, though the relationship appears to be weak.
      
      - The value of 0.25 is relatively close to zero, suggesting that there is little to no strong linear relationship between temperature and weather condition based on this covariance.

3. **Covariance between "`Temperature`" and "`Wind Direction`" :**

In [231]:
# Calculate the covariance between "Temperature" and "Wind Direction"
cov_temp_wind = Q_No_07_df['Temperature'].cov(Q_No_07_df['Wind Direction (Label Encoding)'])
print("Covariance between Temperature and Wind Direction:", cov_temp_wind)

Covariance between Temperature and Wind Direction: -1.6

**`Based on the calculate covariance values and the principles of interpreting covariances`,**

   - **here's a Interpretation of the results -**

      - The negative covariance suggests that as temperature increases, wind direction tends to decrease, and vice versa.
      
      - The magnitude of -1.6 indicates a relatively weak linear relationship between temperature and wind direction.

4. **Covariance between "`Humidity`" and "`Weather Condition`" :**

In [232]:
# Calculate the covariance between "Humidity" and "Weather Condition"
cov_humidity_weather = Q_No_07_df['Humidity'].cov(Q_No_07_df['Weather Condition (Label Encoding)'])
print("Covariance between Humidity and Weather Condition:", cov_humidity_weather)

Covariance between Humidity and Weather Condition: 3.75

**`Based on the calculate covariance values and the principles of interpreting covariances`,**

   - **here's a Interpretation of the results -**

      - The positive covariance indicates that there is a tendency for humidity and weather condition to increase together, suggesting a positive relationship.
      
      - The value of 3.75 is moderately positive, indicating a moderate linear relationship between humidity and weather condition.

5. **Covariance between "`Humidity`" and "`Wind Direction`" :**

In [233]:
# Calculate the covariance between "Humidity" and "Wind Direction"
cov_humidity_wind = Q_No_07_df['Humidity'].cov(Q_No_07_df['Wind Direction (Label Encoding)'])
print("Covariance between Humidity and Wind Direction:", cov_humidity_wind)

Covariance between Humidity and Wind Direction: -1.5

**`Based on the calculate covariance values and the principles of interpreting covariances`,**

   - **here's a Interpretation of the results -**

      - The negative covariance suggests that as humidity increases, wind direction tends to decrease, and vice versa.
   
      - The magnitude of -1.5 indicates a relatively weak linear relationship between humidity and wind direction.

It's important to emphasize that covariance values are not standardized and are influenced by the scales of the variables. To better understand the strength and direction of these relationships while accounting for scale, it may be more useful to calculate and examine correlation coefficients. Correlation coefficients range from -1 to 1, with -1 indicating a perfect negative linear relationship, 1 indicating a perfect positive linear relationship, and 0 indicating no linear relationship.

                                        END